.inputFieldContainer {
  height: 80px;

  .label {
    font-family: 'Roboto-Medium';
    font-size: 12px;
    margin-bottom: 2px;
    color: #747474;
  }
  .inputField {
    display: block;
    border-radius: 5px;
    border: 2px solid #9c9c9c;
    height: calc(100% - 30px);

    &.focused {
      border-color: #4343ff;
    }
    textarea, input {
      border: none;
      background: transparent;
      height: 100%;
      width: 100%;
      padding: 0 10px;
      outline: none;
    }
    textarea {
      resize: none;
      overflow: auto;
      padding: 10px;
      line-height: 20px;
    }
  }
  .inputError {
    color: red;
    font-size: 12px;
    font-family: 'Roboto-Medium';
    margin-top: 2px;
    margin-left: 2px;
  }
}

