.title {
    font-size: 40px;
    maxWidth: 'calc(100% - 90px)'
}
.info {
    display: flex;
    margin-top: 5px;

    .separator {
        margin: 0 8px;
    }
    .group {
        display: flex;

        span {
            margin-left: 2px;
        }
    }
}
.gallery {
    //display: grid;
    //grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    height: 350px;
    //column-gap: 10px;
    margin-top: 15px;

    .left {
        border: 1px solid grey;
        border-radius: 10px 0 0 10px;
    }
    .right {
        display: grid;
        grid-template-columns: calc(50% - 5px) calc(50% - 5px);
        grid-template-rows: calc(50% - 5px) calc(50% - 5px);
        column-gap: 10px;
        row-gap: 10px;

        div {
            border: 1px solid grey;
        }
        .topRight {
            border-radius: 0 10px 0 0;
        }
        .bottomRight {
            border-radius: 0 0 10px 0;
        }
    }
}
.closeIconContainer {
    position: relative;
    display: inline-flex;
    color: #ABABAB;
    font-size: 40px;
}
.optionButton {
    position: absolute;
    right: 55px;
    top: 10px;

    button {
        font-size: 35px;
        padding: 6px;
    }
}
.price {
    font-size: 30px;
    margin-top: 10px;
    font-family: 'Roboto-Light';
}