
.dashboard {
    display: flex;
    .list {
       
    }
    .item {
        font-size: x-large;
    }
    .select
    {
        background-color: white;
    }
}
.body{
    color: white;
    background-color: #343a40
}
.title{
    text-align: center;
    font-size: x-large;
}