.ant-select {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  position: relative;
  cursor: pointer;

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
  }

  .ant-select-selector {
    display: flex;
    border-radius: 5px;
    border: 2px solid #9c9c9c;
    height: 40px;
    padding: 4px 5px;
    cursor: text;
    position: relative;
    background-color: #fff;
    flex-wrap: wrap;
    align-items: center;

    .ant-select-selection-overflow {
      position: relative;
      display: flex;
      flex: auto;
      flex-wrap: wrap;
      max-width: 100%;

      .ant-select-selection-overflow-item {
        flex: none;
        align-self: center;
        max-width: 100%;

        .ant-select-selection-item {
          position: relative;
          display: flex;
          flex: none;
          max-width: 100%;
          height: 24px;
          margin-top: 2px;
          margin-bottom: 2px;
          line-height: 22px;
          background: #f5f5f5;
          border: 1px solid #f0f0f0;
          border-radius: 2px;
          cursor: default;
          margin-inline-end: 4px;
          padding-inline-start: 8px;
          padding-inline-end: 4px;
          overflow: hidden;
          font-weight: normal;
          white-space: nowrap;
          text-overflow: ellipsis;

          .ant-select-selection-item-content {
            display: inline-block;
            margin-right: 4px;
            overflow: hidden;
            white-space: pre;
            text-overflow: ellipsis;
          }
          .ant-select-selection-item-remove {
            color: rgba(0, 0, 0, 0.45);
            font-size: 10px;
            cursor: pointer;

            .anticon-close {
              vertical-align: -0.2em;
            }
          }
        }
      }
      .ant-select-selection-overflow-item-suffix {
        .ant-select-selection-search {
          position: relative;
          max-width: 100%;
          -webkit-margin-start: 7px;
          margin-inline-start: 7px;

          .ant-select-selection-search-input {
            cursor: auto;
            margin: 0;
            padding: 0;
            background: transparent;
            border: none;
            outline: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 100%;
            min-width: 5px;
            height: 24px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
            line-height: 24px;
            transition: all 0.3s;
            touch-action: manipulation;
            outline-offset: -2px;
            -webkit-appearance: none;
            overflow: visible;
            color: inherit;
            font-size: inherit;
          }
          .ant-select-selection-search-mirror {
            cursor: text;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 999;
            white-space: pre;
            visibility: hidden;
            height: 24px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
            line-height: 24px;
            transition: all 0.3s;
            --antd-wave-shadow-color: #1890ff;
            --scroll-bar: 0;
          }
        }
      }
    }
  }
}
.ant-tree-select-dropdown {
  pointer-events: all!important;
  padding: 8px 4px;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  line-height: 1.5715;
  list-style: none;
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: 1050;
  padding: 4px 0;
  overflow: hidden;
  font-size: 14px;
  font-variant: initial;
  background-color: #fff;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);

  &.ant-slide-up-leave {
    display: none;
  }

  .ant-select-tree {
    margin: 0;
    padding: 0;
    color: #000000d9;
    font-size: 14px;
    list-style: none;
    position: relative;
    top: 0.2em;
    white-space: nowrap;
    outline: none;
    cursor: pointer;

    .ant-select-tree-treenode {
      display: flex;
      align-items: flex-start;
      padding: 0 0 4px 0;
      outline: none;

      .ant-select-tree-indent {
        align-self: stretch;
        white-space: nowrap;
        user-select: none;

        .ant-select-tree-indent-unit {
          display: inline-block;
          width: 24px;
        }
      }
      .ant-select-tree-switcher {
        position: relative;
        flex: none;
        align-self: stretch;
        width: 24px;
        margin: 0;
        line-height: 24px;
        text-align: center;
        cursor: pointer;

        &.ant-select-tree-switcher_close {
          .ant-select-tree-switcher-icon svg {
            transform: rotate(-90deg);
          }
        }
        .ant-select-tree-switcher-icon {
          display: inline-block;
          font-size: 10px;
          vertical-align: baseline;
          color: inherit;
          font-style: normal;
          line-height: 0;
          text-align: center;
          text-transform: none;
          text-rendering: optimizelegibility;
          -webkit-font-smoothing: antialiased;

          svg {
            transition: transform 0.3s;
            display: inline-block;
          }
        }
      }
      .ant-select-tree-checkbox {
        top: initial;
        margin: 2px 8px 0 0;
        padding: 0;
        color: rgba(0, 0, 0, 0.85);
        font-size: 14px;
        list-style: none;
        position: relative;
        white-space: nowrap;
        outline: none;
        cursor: pointer;

        &.ant-select-tree-checkbox-checked {
          .ant-select-tree-checkbox-inner {
            background-color: #1890ff;
            border-color: #1890ff;

            &:after {
              position: absolute;
              display: table;
              border: 2px solid #fff;
              border-top: 0;
              border-left: 0;
              transform: rotate(45deg) scale(1) translate(-50%, -50%);
              opacity: 1;
              transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
              content: ' ';
              //content: "";
              //position: absolute;
              //display: block;
              //left: 4px;
              //bottom: 4px;
              //width: 5.5px;
              //height: 9.5px;
              //border: solid white;
              //border-width: 0 2px 2px 0;
              //transform: rotate(45deg);
            }
          }
          &:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 1px solid #1890ff;
            border-radius: 2px;
            visibility: hidden;
            -webkit-animation: antCheckboxEffect 0.36s ease-in-out;
            animation: antCheckboxEffect 0.36s ease-in-out;
            -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
            content: '';
          }
        }
        &.ant-select-tree-checkbox-indeterminate .ant-select-tree-checkbox-inner{
          &:after {
            top: 50%;
            left: 50%;
            width: 8px;
            height: 8px;
            background-color: #1890ff;
            border: 0;
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
            content: ' ';
          }
        }

        .ant-select-tree-checkbox-inner {
          position: relative;
          top: 0;
          left: 0;
          display: block;
          width: 16px;
          height: 16px;
          direction: ltr;
          background-color: #fff;
          border: 1px solid #d9d9d9;
          border-radius: 2px;
          border-collapse: separate;
          transition: all 0.3s;

          &:after {
            position: absolute;
            top: 49%;
            left: 20%;
            display: table;
            width: 4.7px;
            height: 7px;
            border: 2px solid #fff;
            border-top: 0;
            border-left: 0;
            transform: rotate(45deg) scale(0) translate(-50%, -50%);
            opacity: 0;
            transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
            content: " ";
          }
        }
      }
    }
  }
}
